.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  background-color: white;
}

.footer p {
  color: black;
}

@media (max-width: 640px) {
  .footer footer {
    border: 1px solid white;
  }

  .footer p {
    font-size: 18px;
    font-family: fantasy;
    margin-top: 10px;
    color: black;
    padding: 10px;
  }
}
