.imgHeader img {
  width: 50px;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 50px;
  align-items: center;
}

.name  {
  font-size: 20px;
  font-family: monospace;
}

