.content {
  margin: 0;
  width: 100%;
  height: 100vmin;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 40px;
}

.link {
  border: 1px solid white;
  color: wheat;
  text-decoration: none;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 100px;
}

.link:hover {
  background-color: aquamarine;
  color: wheat;
  transition: ease 0.2s;
}

.img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 400px;
  margin-top: 20px;
}


@media screen and (max-width: 640px) {
  
  body {
    /* overflow: hidden; */
    width: 100px;
    height: max-content;
  }

  
  .img img {
    width: 150px;

  }

  .text input {
    width: 100px;
  }

  .text h1 {
    width: 150px;
    font-size: 15px;
    font-family: Impact, sans-serif;
    margin-left:10px;
  }
}
