.center {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.contentCenter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contentGold {
  display: flex;
  align-items: center;
}

.contentGold p {
  margin-top:30px;
}

.contentGold span {
  margin-top:30px;
}


.medalCountry {
  width: 30px;
}

.medalGold {
  width: 30px;
}
.medalSilver {
  width: 30px;
}

.medalBronze {
  width: 30px;
}

.medalTotal {
  width: 30px;
}

.medalAthlete {
  width: 30px;
} 

.inputSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search {
  position: absolute;
  width: 28px;
  margin-left: 111px;
  margin-top: 50px;
}


.paragraph {
  font-size: 50px;
  font-family: fantasy;
  font-style: italic;
  color: darkgoldenrod;
}

.content-infer-card {
  border: 1px solid white;
  border-radius: 10%;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.content-infer-card p {
 margin-left: 200px;
}

.content-infer-card span {
  margin-left: 10px;
 }
 

.content-infer-card-athleta {
  border: 1px solid rgb(247, 234, 234);
  border-radius: 10%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.header {
  width: 100%;
}

.header-athleta {
  width: 100%;
}

.link {
  border: 1px solid rgb(173, 172, 62);
  color: wheat;
  text-decoration: none;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 100px;
}

.link:hover {
  background-color: rgb(182, 169, 51);
  color: wheat;
  transition: ease 0.2s;
}

.header-athleta h1 {
  font-size: 50px;
  color: rgb(182, 169, 51);
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-style: italic;
}

.zoom {
	overflow: hidden;
}

.zoom:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.3);
	transform: scale(1.1);
  box-shadow: 1px 1px 1px 1px rgb(238, 238, 236);
  padding: 5px;
  background-color: rgb(184, 182, 68);
  color: black;
}


@media screen and (max-width: 640px) {
  
  body {
    width: 100%;
    height: auto;
  }

  .inputSearch {
    width: 100%;
    height: auto;
  }

  .inputSearch p {
    font-size: 20px;
  }

  .inputSearch input {
    width: 150px;
  }

  .inputSearch img {
    display: none;
  }

  .contentCenter {
    width: 150px;
  }

  .contentCenter img {
    width: 20px;
  }

  .contentCenterAthlete img {
    width: 20px;
  }
  
  .contentGold {
    width: 70px;
    margin-top: 10px;
  }

  .contentAthlete {
    width:72px;
    margin-top: 10px;
  }

  .contentGold {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .d h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-style: italic;
  }

}
